.el-container {
  background-color: #EFF0F5;
  height: 100%;
}
.user_manage .el-table td, 
.user_manage  .el-table th{
  text-align: center;
}
.perfect_info .el-date-editor.el-input, 
.perfect_info .el-date-editor.el-input__inner{
  width: 649px;
}
.perfect_info .el-select>.el-input{
  width: 649px;
}
.add_project .el-checkbox{
  text-align: left;
  width: 200px;
}
.add_project .el-select>.el-input{
  width: 630px;
}
.query_project .el-input,
.approval_project .el-input{
  width: 260px;
}
.query_project .search,
.approval_project .search{
  width: 320px;
  margin: 12px;
  margin-left: 80%;
}
.manage_leave  .leave_list .el-input__inner{
  width: 200px;
}
.manage_leave  .leave_list .el-input{
  width: 200px;
}