.el-container {
  background-color: #EFF0F5;
  height: 100%;
}
.user_manage .el-table td, 
.user_manage  .el-table th{
  text-align: center;
}
.perfect_info .el-date-editor.el-input, 
.perfect_info .el-date-editor.el-input__inner{
  width: 649px;
}
.add_project .el-checkbox{
  text-align: left;
  width: 200px;
}
.add_project .el-select>.el-input,
.add_academic .el-select>.el-input,
.add_work .el-select>.el-input,
.add_patent .el-select>.el-input,
.add_art .el-select>.el-input,
.add_literary .el-select>.el-input,
.add_activity .el-select>.el-input{
  width: 630px;
}
.query_project .el-input,
.approval_project .el-input,
.fractional .el-input{
  width: 180px;
}
.query_project .search,
.approval_project .search{
  width: 320px;
  margin: 12px;
  margin-left: 80%;
}
.manage_leave  .leave_list .search_line .el-input__inner{
  width: 200px;
}
.manage_leave  .leave_list .search_line .el-input{
  width: 200px;
}
.manage_leave  .leave_list .el-dialog__header{
  text-align: left;
  border-bottom: 1px solid #eee;
}
.manage_leave .el-textarea__inner{
  height: 120px;
}
.query_project .el-dialog__header,
.approval_project .el-dialog__header{
  text-align: left;
}
/* .perfect_info .info-detail .el-input__inner{
  border: 0;
} */
.perfect_info .el-select>.el-input{
  width: 360px;
}