.el-container {
  background-color: #EFF0F5;
  height: 100%;
}
.user_manage .el-table td, 
.user_manage  .el-table th{
  text-align: center;
}
.perfect_info .el-date-editor.el-input, 
.perfect_info .el-date-editor.el-input__inner{
  width: 649px;
}
.perfect_info .el-select>.el-input{
  width: 649px;
}
.add_project .el-checkbox{
  text-align: left;
  width: 250px;
}